* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

a {
    text-decoration: none; /* pas soulignage */
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    background-color: black;
    padding: 20px;
}

#logo {
    width: auto;
    height: 75px;
}

/* Navigation */
header nav {
    display: flex;
    /* justify-content: space-around; */
    gap: 10px;
}

header nav a {
    color: white;
}

/* Zone de rechercche */
header search {
    border-bottom: solid 1px #b48841;
}

header search input {
    background-color: black;
    color: white;
    border: none;
}

/* Icônes */
.header-icons {
    width: 10%;
    display: flex;
    gap: 10px;
}

.header-icons img {
    width: 24px;
    height: 24px;
}

/* MAIN */

/* Section nouveautés page accueil */
#nouveautes {
    background-image: url("../img/homme.png");
    background-size: cover;
    background-position: center;
    height: 45vmax; /* Adapte l'image à 45% de la plus grande des dimensions (largeur/hauteur) */
    color: white;
    padding: 10px;
}

#nouveautes p {
    width: 45%;
}

#nouveautes .button {
    border: solid 1px white;
    padding: 5px;
    color: white;
}

/* Section Cadeaux page accueil */
#cadeaux {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "texte image"
        "texte image";
}

#cadeaux-txt {
    min-width: 370px;
    grid-area: texte;
    background-color: #f4f0eb;
    color: black;
    padding: 10px;
}

#cadeaux-txt .button {
    border: solid 1px black;
    padding: 5px;
    color: black;
}

#cadeaux-img {
    grid-area: image;   
}

@media screen and (max-width: 850px) {
    #cadeaux {
        grid-template-areas:
            "texte texte"
            "image image";
    }

    #cadeaux-txt {
        min-width: 100%;
    }

    #cadeaux-img img {
        width: 100%;
    }
}

/* Bannières */
#banniere img {
    width: 100%;
}
#banniere h1 {
    text-align: center;
}

/* Sections articles */
.articles h2 {
    text-align: center;
    z-index: 1;
}

.articles div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    border: solid 1px black;
    padding: 10px;
}

.articles img {
    width: 25%;
    height: auto;
}

.articles div a {
    text-align: center;
}

/* Page article */
#article {
    display: flex;
}

#article div {
    width: 50%;
}

/* Page contact */
form,
#faq,
#informations {
    background-color: #f2ede6;
    margin: 10px;
    border-radius: 30px;
    padding: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#faq p,
#informations p {
    padding-top: 10px;
}

button {
    display: block;
    background-color: #b48841;
    color: white;
    border-radius: 30px;
    margin: 10px auto;
    padding: 10px;
    width: 100px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* vertical-align:middle; */
    flex-wrap: wrap;
    background-color: #b48841;
    color: white;
    padding: 20px;
    gap: 10px;
}

footer a {
    /* border: solid 1px; */
    display: flex;
    align-items: center;
    color: white;
    gap: 2px;
}

footer img {
    width: 24px;
    height: 24px;
}
