/* Réglages par défaut */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Format des ancres */
a {
    text-decoration: none;
}

/* Format titre principal */
h1 {
    font-size: 2em;
}

/* Taille des icônes */
.icon {
    width: 24px;
    height: 24px;
}

/* Barres de navigation */
nav ul {
    list-style-type: none; /* pas de puces */
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

nav ul li {
    display: inline; /* en ligne */
}

nav a {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
}


/* ========================================================================= */

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    background-color: black;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}

#logo {
    height: 100%;
}

/* Zone de rechercche */
header search {
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #b48841;
}

header search input {
    width: 80%;
    background-color: black;
    color: white;
    border: none;
}

/* Barre d'icônes */
.header-icons {
    display: flex;
    gap: 10px;
}

.nav-menu {
    display: none; /* bouton menu masqué par défaut */
}

/* Menu de navigation déroulant */
#dropdown-nav {
    background-color: black;
    position: absolute;
    top: 70px;
    right: 0;
    width: 150px;
}

#dropdown-nav ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}

@media screen and (max-width: 650px) {
    #header-nav {
        display: none;
    }

    .nav-menu{
        display: inline;
    }

    .nav-menu input, #dropdown-nav { /* la checkbox reste masquée */
        display: none;
    }

    #menu-icon:checked + #dropdown-nav { /* affiche le menu lorsque l'icône est cliquée */
        display: block;
    }
}


/* MAIN */
main {
    margin-top: 70px;
    /* espace pour le header */
}


/* FOOTER */
footer {
    background-color: #b48841;
    padding: 10px;
}

/* ========================================================================= */

/* PAGE ACCUEIL */

/* Section nouveautés */
#nouveautes {
    background-image: url("../img/homme.png");
    background-size: cover;
    background-position: center;
    height: 45vmax;
    /* Adapte l'image à 45% de la plus grande des dimensions (largeur/hauteur) */
    color: white;
    padding: 10px;
}

#nouveautes p {
    width: 45%;
}

#nouveautes .button {
    border: solid 1px white;
    padding: 5px;
    color: white;
}


/* Section Cadeaux */
#cadeaux {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "texte image"
        "texte image";
}

#cadeaux-txt {
    min-width: 370px;
    grid-area: texte;
    background-color: #f4f0eb;
    color: black;
    padding: 10px;
}

#cadeaux-txt .button {
    border: solid 1px black;
    padding: 5px;
    color: black;
}

#cadeaux-img {
    grid-area: image;
}

@media screen and (max-width: 850px) { /* bascule l'image en dessous du texte */
    #cadeaux {
        grid-template-areas:
            "texte texte"
            "image image";
    }

    #cadeaux-txt {
        min-width: 100%;
    }

    #cadeaux-img {
        width: 100%;
    }
}

/* ========================================================================= */

/* PAGE HOMME / FEMME */

/* Bannières */
#banniere img {
    width: 100%;
}

#banniere h1 {
    text-align: center;
}

/* Sections articles */
.articles h2 {
    text-align: center;
}

.articles div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    border: solid 1px black;
    padding: 10px;
}

.articles img {
    width: 150px;
    height: auto;
}

.articles div a {
    text-align: center;
}

/* ======================================================================== */

/* PAGE PRODUIT */
#article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "image texte"
        "image texte";
}

#article-img {
    grid-area: image;
    display: flex;
    justify-content: center;
}

#article-desc {
    grid-area: texte;
    padding: 10px;
}

@media screen and (max-width: 750px) { /* bascule l'image en dessous du texte */
    #article {
        grid-template-areas:
            "image image"
            "texte texte";
    }

    #article-txt {
        min-width: 100%;
    }

    #article-img {
        width: 100%;
    }
}

/* ======================================================================== */

/* PAGE CONTACT */
form,
#faq,
#informations {
    background-color: #f2ede6;
    margin: 10px;
    border-radius: 30px;
    padding: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#faq p,
#informations p {
    padding-top: 10px;
}

button {
    display: block;
    background-color: #b48841;
    color: white;
    border-radius: 30px;
    margin: 10px auto;
    padding: 10px;
    width: 100px;
}

