/* Réglages par défaut */
* {
    box-sizing: border-box;
}

/* Variables */
:root {
    --body-bg-color: white;
    --body-txt-color: black;

    --header-bg-color: black;
    --header-txt-color: white;

    --footer-bg-color: #b48841;
    --footer-txt-color: white;

    --btn-bg-color: #b48841;
    --btn-txt-color: white;

    --form-section-bg-color: #f2ede6;  /* formulaire et sections */
    --form-section-txt-color: black;

}

:root.dark {  /* dark mode */
    --body-bg-color: black;
    --body-txt-color: white;
    
    --header-bg-color: black;
    --header-txt-color: white;
    
    --footer-bg-color: rgb(60, 60, 60);
    --footer-txt-color: white;
    
    --btn-bg-color: rgb(60, 60, 60);
    --btn-txt-color: white;
    
    --form-section-bg-color: rgb(30, 30, 30);  /* formulaire et sections */
    --form-section-txt-color: white;
}

/* Corps */
body {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--body-txt-color);
    transition: all 0.3s ease;
}

/* Format des ancres */
a {
    text-decoration: none;
    color: var(--body-txt-color)
}

/* Format titre principal */
h1 {
    font-size: 2em;
}

/* Taille des icônes */
.icon {
    width: 24px;
    height: 24px;
}

/* Barres de navigation */
nav ul {
    list-style-type: none; /* pas de puces */
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

nav ul li {
    display: inline; /* en ligne */
}

nav a {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--header-txt-color);
}

/* Boutons */
button {
    grid-area: bouton;
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
    border: none;
    border-radius: 30px;
    margin: 10px auto 10px;
    padding: 10px;
    min-width: 100px;
    cursor: pointer;
}

/* Page en construction */
.page-construction {
    text-align: center;
}

.page-construction img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 50%;
    padding: 20px;
}

/* ========================================================================= */

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    background-color: var(--header-bg-color);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}

/* logo */
#logo, #logo img {
    height: 100%;
}

/* Zone de rechercche */
header search {
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #b48841;
}

header search input {
    width: 80%;
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    border: none;
}

/* Barre d'icônes */
.header-icons {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

#menu-icon {
    display: none; /* bouton menu masqué par défaut */
}


@media screen and (max-width: 650px) { /* version mobile */
    #header-nav { /* Déplacement menu sous l'icône burger */
        display: none;
        background-color: var(--header-bg-color);
        position: absolute;
        top: 70px;
        right: 0;
        width: 150px;
    }

    #header-nav ul { /* Passage en menu vertical */
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 10px;
    }

    #header-nav.visible { /* Affichage lors du clic sur le menu (js) */
        display: block;
    }

    #menu-icon {
        display: inline; /* affichage du menu burger */
    }
}  

/* MAIN */
main {
    margin-top: 70px;
    /* espace pour le header */
}


/* FOOTER */
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-txt-color);
    padding: 10px;
}

footer p {
    text-align: center;
    font-size: 0.75em;
    margin-top: 2em;
    padding: auto;
}

/* ========================================================================= */

/* PAGE ACCUEIL */

/* Section nouveautés */
#nouveautes {
    background-image: url("../img/homme.png");
    background-size: cover;
    background-position: center;
    height: 45vmax;
    /* Adapte l'image à 45% de la plus grande des dimensions (largeur/hauteur) */
    color: white;
    padding: 10px;
}

#nouveautes p {
    width: 45%;
}

#nouveautes .button {
    color: white;
    border: solid 1px;
    padding: 5px;
}


/* Section Cadeaux */
#cadeaux {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "texte image"
        "texte image";
}

#cadeaux-txt {
    min-width: 370px;
    grid-area: texte;
    background-color: var(--form-section-bg-color);
    color: var(--form-section-txt-color);
    padding: 10px;
}

#cadeaux-txt .button {
    color: var(--form-section-txt-color);
    border: solid 1px;
    padding: 5px;
}

#cadeaux-img {
    grid-area: image;
}

@media screen and (max-width: 850px) { /* bascule l'image en dessous du texte */
    #cadeaux {
        grid-template-areas:
            "texte texte"
            "image image";
    }

    #cadeaux-txt {
        min-width: 100%;
    }

    #cadeaux-img {
        width: 100%;
    }
}

/* ========================================================================= */

/* PAGE PRODUITS */

/* Bannières */
#banniere img {
    width: 100%;
    max-height: 40vh;
    object-fit:cover;
}

#banniere h1 {
    text-align: center;
}

/* Sections articles */
.articles {
    padding: 10px;
}

.articles h2 {
    text-align: center;
}

.articles div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    border: solid 1px var(--body-txt-color);
    padding: 10px;
}

.articles img {
    width: auto;
    height: 150px;
}

.articles div a {
    text-align: center;
}

/* ======================================================================== */

/* PAGE PRODUIT */
#article {
    display: grid;
    grid-template-areas:
        "image"
        "texte";
}

#article-image {
    grid-area: image;
    text-align: center;
}

#article-image img {
    padding: 10px;
    width: 100%;
    max-height: 65vh; /* max 65% de la hauteur visible */
    object-fit: contain;  /* Conserve le ratio de l'image */
}

#article-desc {
    grid-area: texte;
    padding: 10px;
}

@media screen and (min-width: 576px) { /* version desktop */
    #article {
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "image texte";
    }

    #article-image img {
        min-width: 30vw;  /* min 30% de la largeur visible */
        max-width: 50vw;  /* max 50% de la largeur visible */
        max-height: 80vh;  /* max 80% de la hauteur visible */
    }
}

/* ======================================================================== */

/* PAGE CONTACT */
#page-contact { /* version mobile */
    display: grid;
    grid-template-areas:
    "form"
    "faq"
    "informations";
}

form {
    grid-area: form;

    display: grid;
    gap: 10px;
    grid-template-areas: 
    "titre"
    "nom"
    "prenom"
    "email"
    "message"
    "bouton";
}

#page-contact h1 {
    grid-area: titre;
}

#nom {
    grid-area: nom;
}

#prenom {
    grid-area: prenom;
}

#email {
    grid-area: email;
}

#message {
    grid-area: message;
}

#page-contact div {
    padding-top: 10px;
}

#page-contact label { /* saut de ligne après étiquette */
    display: block;
}

#page-contact input,
#page-contact textarea {
    width: 100%;
}

#faq {
    grid-area: faq;
}

#informations {
    grid-area: informations;
}

#page-contact form,
#faq,
#informations {
    background-color: var(--form-section-bg-color);
    color: var(--form-section-txt-color);
    margin: 10px;
    border-radius: 30px;
    padding: 30px;
}

#faq p,
#informations p {
    padding-top: 10px;
}

@media screen and (min-width: 576px) { /* version desktop */
    #page-contact {
        grid-template-columns: 55% 45%;
        grid-template-areas:
        "form form"
        "faq informations";
    }

    form {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "titre titre titre"
        "nom prenom email"
        "message message message"
        "bouton bouton bouton";
    }
}


/* ======================================================================== */

/* PAGE BOUTIQUES */

.boutiques {
    margin: 20px;
    text-align: center;
    border: solid 1px;
}

.boutiques div {
    grid-area: infos;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.boutiques img {
    grid-area: photo;
    padding: 10px;
}

@media screen and (min-width: 576px) { /* version desktop */
    .boutiques {
        display: grid;
        grid-template-areas:
        "infos photo";
    }

}